<html>
    <title>Image Resizer</title>
    <body>
        <h1>Image Resizer</h1>

		{% with messages = get_flashed_messages() %}
		  {% if messages %}
			<ul class=flashes>
			{% for message in messages %}
			  <li>{{ message }}</li>
			{% endfor %}
			</ul>
		  {% endif %}
		{% endwith %}

        <form action="/resize" method="POST" enctype="multipart/form-data">
            <p>File: <input type="file" name="image" accept="image/*"></p>
            <p>Size: <input type="number" name="size_px" value="256" min="1"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>
